/*
Nav bar and accesibility 
*/
body {
  position: relative;
  min-height: 100vh;
  background: rgb(242, 204, 201);
  background: linear-gradient(
    0deg,
    rgba(242, 204, 201, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(221, 196, 143, 1) 50%,
    rgba(255, 255, 255, 1) 66%
  );
}
#logo {
  width: auto;
  height: 5em;
  padding-right: 15px;
}

#head {
  background-color: #f2ccc9;
}
.stay-open {
  display: block !important;
}
a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

/*end nav, start images*/

#content {
  margin-left: 1em;
}
.polaroid {
  background: #fff;
  padding: 1rem 1rem 5rem 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  border: 1px grey solid;
}

.polaroid > img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.item {
  width: 25%;
  display: inline-block;
  margin: 2rem;
}

.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.blurb {
  width: 50%;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  border: 1px grey solid;
}

#top {
  margin-top: 1em;
}
#bottom {
  margin-bottom: 1em;
}
/*footer*/

footer {
  background-color: #f2ccc9;
  text-align: center;
  position: absolute;

  width: 100%;
}

#footLogo {
  width: 3em;
  height: auto;
}
